## Engineering new features from our data

In [1]:
#importing libraries
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\moham\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\moham\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
#reading and viewing the dataset 
df = pd.read_csv("as24_clean.csv", sep=";")
df.head()

,product_tier,make_name,price,first_zip_digit,first_registration_year,created_date,deleted_date,search_views,detail_views,stock_days,ctr
0,Basic,Mitsubishi,16750,5,2013,2018-07-24,2018-08-24,3091,123,31,0.037803
1,Basic,Mercedes-Benz,35950,4,2015,2018-08-16,2018-10-07,3283,223,52,0.067926
2,Basic,Mercedes-Benz,11950,3,1998,2018-07-16,2018-09-05,3247,265,51,0.081614
3,Basic,Ford,1750,6,2003,2018-07-20,2018-10-29,1856,26,101,0.014009
4,Basic,Mercedes-Benz,26500,3,2014,2018-08-28,2018-09-08,490,20,11,0.040816

I would use the columns "created_date" and "deleted_date" to make new features "created_month" and "deleted_month" that might be useful for our model.

In [5]:
#changing the 'created_date' and 'deleted_date' dtypes to datetime
for col_name in df.columns:
    if 'date' in col_name:
        df[col_name] = pd.to_datetime(df[col_name], dayfirst=True)

In [6]:
df['created_month'] = df.created_date.dt.month
df['deleted_month'] = df.deleted_date.dt.month

df.head()

,product_tier,make_name,price,first_zip_digit,first_registration_year,created_date,deleted_date,search_views,detail_views,stock_days,ctr,created_month,deleted_month
0,Basic,Mitsubishi,16750,5,2013,2018-07-24,2018-08-24,3091,123,31,0.037803,7,8
1,Basic,Mercedes-Benz,35950,4,2015,2018-08-16,2018-10-07,3283,223,52,0.067926,8,10
2,Basic,Mercedes-Benz,11950,3,1998,2018-07-16,2018-09-05,3247,265,51,0.081614,7,9
3,Basic,Ford,1750,6,2003,2018-07-20,2018-10-29,1856,26,101,0.014009,7,10
4,Basic,Mercedes-Benz,26500,3,2014,2018-08-28,2018-09-08,490,20,11,0.040816,8,9

In [7]:
df.created_date.dt.year.value_counts()

2018    78288
Name: created_date, dtype: int64

In [8]:
df.deleted_date.dt.year.value_counts()

2018    69430
2019     8858
Name: deleted_date, dtype: int64

- Since there is not much different values for created and deleted years, it wouldn't be so useful to add them as features.

- Now, there is no need for the columns created_date and deleted date

In [13]:
#dropping the date columns
df.drop(['created_date', 'deleted_date'], axis=1, inplace=True)
df.head()

,product_tier,make_name,price,first_zip_digit,first_registration_year,search_views,detail_views,stock_days,ctr,created_month,deleted_month
0,Basic,Mitsubishi,16750,5,2013,3091,123,31,0.037803,7,8
1,Basic,Mercedes-Benz,35950,4,2015,3283,223,52,0.067926,8,10
2,Basic,Mercedes-Benz,11950,3,1998,3247,265,51,0.081614,7,9
3,Basic,Ford,1750,6,2003,1856,26,101,0.014009,7,10
4,Basic,Mercedes-Benz,26500,3,2014,490,20,11,0.040816,8,9

In [14]:
df.shape

(78288, 11)

Now the data is ready for the next step, which is converting categorical variables to numerical values to get the data ready for the models

In [16]:
#saving the dataset
df.to_csv("model_data.csv", index=False, sep=";")